doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Mozilla Research: Studying the Global Web. Stories and insights from 600 people in 22 communities in 7 countries around the world.')
    link(rel='stylesheet', href='//code.cdn.mozilla.net/fonts/fira.css')
    link(rel='stylesheet', href='css/foxlight.css')
    link(rel='stylesheet', href='css/demo.css')
    title Foxlight – Demo
  body
    header
    .container
      .jumbotron
        h1.display-3 Foxlight
        p.lead Mozilla Foundation Bootstrap 4 theme

      h2.display-4 Color

      mixin color-block(color, value)
        div(class='color-block color-block-#{color}')
          .swatch.darker 15% darkened
          .swatch.regular 100%
          .swatch.opacity-30 30%
          .swatch.opacity-10 10%

          .meta
            p.name
              strong=color
            p.value=value

      mixin text-block(weight, value)
        div(class='text-block text-block-#{weight}')
          h1 Fira Sans
          h5 ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890
          .meta 
            p.value Fira Sans #{value}

      p.lead Primary Palette

      .color-blocks
        +color-block('knowledge-navy', '#007bb0')
        +color-block('brilliant-blue', '#0094c7')
        +color-block('teach-teal', '#00bfb8')
        +color-block('guided-green', '#40b488')
        +color-block('maker-magenta', '#ef2c65')

      p.lead Accent Palette

      .color-blocks
        +color-block('youth-yellow', '#ffc958')
        +color-block('charcoal', '#4d4f53')

      hr
      h2.display-4 Typography

      .text-blocks
        +text-block('600', 'Extra Bold')
        +text-block('500', 'Bold')
        +text-block('400', 'SemiBold')
        +text-block('300', 'Medium')
        +text-block('200', 'Regular')
        +text-block('100', 'Light')
      
      hr
      h2.display-4 Headings
      
      .typography
        .hero-unit
          h1 Hero Headline
          h2 Hero Headline 2
          
        .type-unit
          h1 Headline 1
          p.meta 3.8rem, Fira Sans Bold
        
        .type-unit
          h2 Headline 2
          p.meta 3.5rem, Fira Sans Regular
        
        .type-unit
          h3 Headline 3
          p.meta 2.6rem, Fira Sans Medium
        
        .type-unit
          h4 Headline 4
          p.meta 1.8rem, Fira Sans SemiBold
        
        .type-unit
          p.copy Body Copy Text
          p.meta .copy, 1.4rem, Fira Sans Medium
        
        .type-unit
          a(href="#") Link Text
          p.meta 1.4rem, Fira Sans Medium
        
        .type-unit
          p.small Small copy for notes and additional descriptive details
          p.meta .small, 1rem, Fira Sans Medium
        
        .type-unit
          p.intro This is introductory text for a new section of content near the top of the page. Teach how to read, write, and participate on the Web.
          p.meta .intro, 3rem, Fira Sans Regular
        
    footer
