doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='//code.cdn.mozilla.net/fonts/fira.css')
    link(rel='stylesheet', href='css/mofo-bootstrap.css')
    link(rel='stylesheet', href='css/demo.css')
    title mofo-bootstrap – Demo
  body
    header
    .container
      .jumbotron
        h1.display-3 mofo-bootstrap
        p.lead Mozilla Foundation Bootstrap 4 theme

      h2.display-4 Color

      mixin color-block(color, value)
        div(class='color-block color-block-#{color}')
          .swatch.darker 15% darkened
          .swatch.regular 100%
          .swatch.opacity-30 30%
          .swatch.opacity-10 10%

          .meta
            p.name
              strong=color
            p.value=value

      mixin text-block(weight, value)
        div(class='text-block text-block-#{weight}')
          h6 Fira Sans #{value}
          h5 ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890

      p.lead Primary Palette

      .color-blocks
        +color-block('dino-red', '#d24735')
        +color-block('firefox-orange', '#f26c23')
        +color-block('market-orange', '#f89c24')
        +color-block('flame-yellow', '#ffcd02')
        +color-block('gecko-green', '#7dc14c')
        +color-block('summit-teal', '#3bba99')
      
      .color-blocks
        +color-block('mobile-blue', '#16afe5')
        +color-block('developer-blue', '#4383bf')
        +color-block('nightly-blue', '#5a6ba4')
        +color-block('aurora-purple', '#ab5da4')
        +color-block('bikeshed-magenta', '#e14164')
        +color-block('charcoal', '#4d4f53')

      hr
      h2.display-4 Buttons

      .button-demo
        p.lead .btn
        a.btn Click Me
        
        p.lead .btn.btn-primary
        a.btn.btn-primary Click Me

        p.lead .btn.btn-secondary
        a.btn.btn-secondary Click Me
        
        p.lead .btn.btn-success
        a.btn.btn-success Click Me
        
        p.lead .btn.btn-info
        a.btn.btn-info Click Me
        
        p.lead .btn.btn-warning
        a.btn.btn-warning Click Me
        
        p.lead .btn.btn-danger
        a.btn.btn-danger Click Me
        
        p.lead .btn.btn-link
        a.btn.btn-link Click Me
      
      hr
      h2.display-4 Typography

      .text-blocks
        +text-block('600', 'Extra Bold')
        +text-block('500', 'Bold')
        +text-block('400', 'SemiBold')
        +text-block('300', 'Medium')
        +text-block('200', 'Regular')
        +text-block('100', 'Light')

      hr
      h2.display-4 Headings

      .typography
        .hero-unit
          h1 Hero Headline
          h2 Hero Headline 2

        .type-unit
          h1 Headline 1
          p.meta 3.8rem, Fira Sans Bold

        .type-unit
          h2 Headline 2
          p.meta 3.5rem, Fira Sans Regular

        .type-unit
          h3 Headline 3
          p.meta 2.6rem, Fira Sans Medium

        .type-unit
          h4 Headline 4
          p.meta 1.8rem, Fira Sans SemiBold

        .type-unit
          p.copy Body Copy Text
          p.meta .copy, 1.4rem, Fira Sans Medium

        .type-unit
          a(href="#") Link Text
          p.meta 1.4rem, Fira Sans Medium

        .type-unit
          p.small Small copy for notes and additional descriptive details
          p.meta .small, 1rem, Fira Sans Medium

        .type-unit
          p.intro This is introductory text for a new section of content near the top of the page. Teach how to read, write, and participate on the Web.
          p.meta .intro, 3rem, Fira Sans Regular

        .type-unit
          p.lead Make a paragraph stand out by adding .lead.
          p.meta .lead

        .type-unit
          blockquote.blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          p.meta .blockquote

      h2.display-4 Lists

      h5 Unstyled List (ul.list-unstyled)

      ul.list-unstyled
        li Item 1
        li Item 2
        li Item 3
        li Item 4
        li Item 5

      h5 Inline List (ul.list-inline)

      ul.list-inline
        li.list-inline-item Item 1
        li.list-inline-item Item 2
        li.list-inline-item Item 3
        li.list-inline-item Item 4
        li.list-inline-item Item 5

      h5 List Group (ul.list-group)

      ul.list-group
        li.list-group-item Hello, I'm a list item.
        li.list-group-item Hello, I'm a list item.
        li.list-group-item Hello, I'm a list item.
      
      h2 Important Links
      ul.important-links
        li: a Branding Guide
        li: a Marketing your Mozilla Club: PR - Guide
        li: a Documenting your Event

      section.col-md-12.intro
        h1 Color Box Component
        p.intro Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      section.col-md-4
        div.color-box
          img(src='https://cloud.githubusercontent.com/assets/1119821/13996841/c8c64480-f105-11e5-8075-ac8d4d5df74a.png')
          h3 Learn Structure
          p.small Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit.
          a.btn.btn-lg.btn-default Open Project

      section.col-md-4
        div.color-box
          img(src='https://cloud.githubusercontent.com/assets/1119821/13996945/2e144062-f106-11e5-8951-b9aaca19c9ad.png')
          h3 Learn Style
          p.small Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit.
          a.btn.btn-lg.btn-default Open Project

      section.col-md-4
        div.color-box
          img(src='https://cloud.githubusercontent.com/assets/1119821/13996955/3982a97a-f106-11e5-9c5f-a456638a813d.png')
          h3 Learn Interactivity
          p.small Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit.
          a.btn.btn-lg.btn-default Open Project

    footer
